<div id="details">
  <p class="title">ファイル詳細</p>
  <dl><dt>ファイル名</dt> <dd><%=h @download.filename %></dd></dl>
  <dl><dt>ファイルサイズ</dt> <dd><%=h to_megabyte(@download.size) %></dd></dl>
  <dl><dt>コメント</dt> <dd><%=h @download.comment %></dd></dl>
  <dl><dt>識別子</dt> <dd><%=h @download.token %></dd></dl>
</div>
