<div id="contents_header">
  <h2>Admin Downloads</h2>
</div>

<div id="contents_main" class="admin_downloads">
<h3>Index Downloads</h3>
  <div id="listing_downloads">
    <%#= render :partial => 'thumbs' %>
    <%= render :partial => 'records' %>
  </div>
</div>

<div id="contents_footer">
</div>


