<div id="contents_header">
  <h2 class="title">Admin Downloads</h2>
  <%= render :partial => 'upload_button' %>
</div>

<div id="contents_main" class="admin_downloads">
<h3>Index Downloads</h3>


  <div id="listing_downloads">
    <%#= render :partial => 'thumbs' %>
    <%= render :partial => 'records' %>
  </div>
</div>

<div id="contents_footer">
</div>


