<div id="contents_header">
  <h2>ファイル管理</h2>
  <%= render :partial => 'upload_button' %>
</div>

<div id="contents_main">
<h3>ファイル一覧</h3>
  <%#= render :partial => 'thumbs' %>
  <%= render :partial => 'records' %>
</div>
