<div id="listing_contents">
<% if contents.any? %>
  <% contents.each do |content| %>
    <%= render :partial => "thumb", :locals => { :content => content } %>
    <%#= render :partial => "record", :locals => { :content => content } %>
  <% end %>
<% end %>

<div class="clear"></div>
</div>

