<div id="contents_header">
  <h2>Contents</h2>
</div>

<div id="contents_main">
  <%= render :partial => "listing_contents", :locals => { :contents => @contents } %>
</div>

<div id="contents_footer">
</div>

