<div id="contents_header">
  <h2>コンテンツ</h2>
</div>

<div id="contents_main">
  <%= render :partial => "record_results", :locals => { :entries => @contents, :search_word => @search_word } %>
  <!--div id="submenu">
    <span class="btn"><%#= link_to "すべて", :action => 'index' %></span>
    <span class="btn"><%#= link_to "曲", :action => 'musics' %></span>
    <span class="btn"><%#= link_to "アルバム", :action => 'albums' %></span>
  </div-->
  <%= render :partial => "records" %>
</div>
