<div id="contents_header">
  <h2>商品詳細</h2>
  <%#= render :partial => "store/search_form" %>
  <%#= render :partial => "store/breadcrumbs" %>
</div>

<div id="contents_main" class="products">
  <%= render :partial => "details", :locals => { :content => @content } %>
</div>

<div id="contents_footer">
</div>

