tasks

tmp/
log/

public/images/up/
public/downloads/

config/certs/api_cert_chain.crt
config/certs/cert_key_pem.txt
config/certs/sandbox_api.crt
config/certs/sandbox_api.key
config/database.yml
config/config.yml
config/paypal.yml



vendor/rails/
test/

db/*.sqlite3
db/schema.rb
