<div id="listing_artists">
<% if artists.any? %>
  <% artists.each do |artist| %>
    <%= render :partial => "thumb_artist", :locals => { :artist => artist } %>
  <% end %>
<% end %>

<div class="clear"></div>
</div>

