<div id="contents_header">
  <h2>アーティスト</h2>
</div>

<div id="contents_main">
  <%= render :partial => "record_results", :locals => { :entries => @artists } %>
  <%= render :partial => "thumbs" %>
</div>
