<div id="contents_header">
  <h2>Artist Details</h2>
</div>

<div id="contents_main">
  <%= render :partial => "detail_artist", :locals => { :artist => @artist } %>
</div>

<div id="contents_footer">
</div>

