<div id="record_results" class="double_dotted">
  <p class="float_left">
    <%= page_entries_info entries %>
    <% if search_word %>
      <span class="search_word">検索ワード "<%= "#{search_word}" %>"</span>
    <% end %>
  </p>
  <%= will_paginate entries, :prev_label => 'prev', :next_label => 'next' %>
</div>

