<div id="utility">
<% if logged_in? %>
  <ul>

    <li>Hello <%=h current_user.login %></li>
    <%#= render :partial => "carts/cart_status" %>
    <li><%= link_to "logout", admin_logout_path %></li>
  </ul>
<% end %>

  <div class="clear"></div>

</div>


