<div id="utility">
<% if logged_in? %>
  <ul>

    <li>Hello <%=h current_user.login %></li>
    <%#= render :partial => "carts/cart_status" %>
    <li><%= link_to "logout", logout_path %></li>
  </ul>
<% else %>
  <ul>
    <li>Hello Guest</li>
    <li><%= link_to "login", login_path %></li>
  </ul>
<% end %>

  <div class="clear"></div>

</div>


