<div id="contents_header">
  <h2>Admin Home</h2>
</div>

<div id="contents_main" class="products">
  <p><%#= link_to "Contents", admin_products_path  %></p>
  <p><%= link_to "Labels", admin_labels_path  %></p>
  <p><%#= link_to "Artists", admin_artists_path  %></p>
  <p><%#= link_to "Images", admin_images_path  %></p>
  <p><%#= link_to "Downloads", admin_downloads_path  %></p>
  <p><%#= link_to "Users", admin_users_path  %></p>
  <p><%#= link_to "Store", home_path  %></p>

</div>

<div id="contents_footer">
</div>

