<div id="contents_header">
  <h2>メール管理</h2>
</div>

<div id="contents_main">
<h3>メール一覧</h3>
<%= link_to 'メールを送ってみる', {:controller => 'admin/mails', :action => 'send_mail'} %>
  <%#= render :partial => 'records' %>
</div>
