<div id="listing_labels">
<% if labels.any? %>
  <% labels.each do |label| %>
    <%= render :partial => "thumb_label", :locals => { :label => label } %>
    <%#= render :partial => "record_label", :locals => { :label => label } %>
  <% end %>
<% end %>

<div class="clear"></div>
</div>

