<div id="record_results">
</div>
<%= will_paginate entries, :previous_label => '&laquo', :next_label => '&raquo',
                           :inner_window => '2', :outer_window => '0',
                           :renderer => 'WillPaginate::MyLinkRenderer' %>
