<div id="thumb" class="label">
<ul>
  <li>
    <p><%= link_to (thumb_for label.images[0]), label_path(label.domain)  %></p>
    <p><%= link_to h(label.name), label_path(label.domain) %></p>
  </li>
</ul>
</div>

