<div id="contents_header">
  <h2>Label Details</h2>
</div>

<div id="contents_main">
  <%= render :partial => "detail_label", :locals => { :label => @label } %>
</div>

<div id="contents_footer">
</div>

