<div id="contents_header">
  <h2>Admin Artists</h2>
</div>

<div id="contents_main">
  <%= render :partial => "form", :locals => {:url => admin_artist_path(@artist) , :action_name => 'update' } %>
  <%= link_to 'Back', admin_artists_path %>

</div>

<div id="contents_footer">
</div>
