<div id="contents_header">
  <h2>アーティスト管理</h2>
</div>

<div id="contents_main">
  <h3>アーティスト作成</h3>
  <%= render :partial => "form", :locals => {:url => admin_artist_path(@artist) , :action_name => 'update' } %>
</div>
