<div id="contents_header">
  <h2>アーティスト管理</h2>
  <span class="buttons">
    <%= link_to '作成', new_admin_artist_path, { :style => "font-weight: 12px; padding: 5px 10px;" } %>
  </span>
</div>

<div id="contents_main">
<h3>アーティスト一覧</h3>
  <%= render :partial => 'records' %>
</div>
