<div id="contents_header">
  <h2>アーティスト管理</h2>
  <div class="btn_small"><span class="btn btn_small btn_bk_wh">
    <%= link_to_function '新規作成', "resource_new('artists');", { :style => "font-weight: 12px; padding: 5px 10px;" } %>
  </span></div>
</div>

<div id="contents_main">
<h3>アーティスト一覧</h3>
<%= render :partial => 'admin/record_results',
  :locals => { :entries => @artists, :search_word => @search_word  } %>
  <%= render :partial => 'records' %>
</div>

<%= javascript_include_tag "lightbox.js" %>
