<div id="contents_header">
  <h2>Admin Artists</h2>
</div>

<div id="contents_main" class="admin_artists">
<h3>Artists Index</h1>

  <div id="listing_artists">
    <%#= render :partial => 'thumbs' %>
    <%= render :partial => 'records' %>
  </div>

</div>

<div id="contents_footer">
</div>
