<div id="contents_header">
  <h2>Admin Artists</h2>
</div>

<div id="contents_main" class="admin_contents">
  <%= render :partial => "form", :locals => {:url => admin_artists_path , :action_name => 'create' } %>
  <%= link_to 'Back', admin_artists_path %>
</div>

<div id="contents_footer">
</div>
