<div id="contents_header">
  <h2>Admin Artists</h2>
</div>

<div id="contents_main">
  <%= render :partial => "details", :locals => { :artist => @artist } %>
</div>

<div id="contents_footer">
</div>
