<div id="contents_header">
  <h2>Admin Contents</h2>
</div>

<div id="contents_main">
<h3>Contents Index</h1>
  <div id="listing_contents">
    <%#= render :partial => 'thumbs' %>
    <%= render :partial => 'records' %>
  </div>
</div>

<div id="contents_footer">
</div>
