<div id="contents_header">
  <h2 class="title">Admin Contents</h2>
  <span class="buttons">
    <%= link_to 'New content', new_admin_content_path, { :style => "font-weight: 12px; padding: 5px 10px;" } %>
  </span>

  <%= render :partial => "search_form" %>

</div>

<div id="contents_main">
<h3>Contents Index</h1>
  <div id="listing_contents">
    <%#= render :partial => 'thumbs' %>
    <%= render :partial => 'records' %>
  </div>
</div>

<div id="contents_footer">
</div>
