<div id="contents_header">
  <h2>Admin Contents</h2>
</div>

<div id="contents_main">
  <%= render :partial => "details", :locals => { :content => @content } %>
</div>

<div id="contents_footer">
</div>
