
/* generic parts */
span.mark  {
  color: #333;
  background:#DDD;
  font-size: 12px;
  font-weight: bold;
  padding: 3px;
  white-space: nowrap;
}

p.name { font-size: 12px; }
p.txt_ess { float:right; line-height: 1.9em; }

/* *の赤色 */
p.txt_ess span, p.txt_ess2 span, th span {
    margin:0 3px 0 0;
    font-size:130%;
    font-weight:bold;
    color:#da4740;
}

.buttonArea{margin:15px 0 20px;}

p.buttons,div.buttons{text-align:center;}

.buttons a,.buttons button{
  margin:0;
  border: none;
  background:#4ea6cc;
  color:#fff;
  line-height:130%;
  font-family:Arial, Verdana;
  font-size:14px;
  font-weight:normal;
  cursor:pointer;
  padding:10px 20px;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
}

/* contents_header */
#contents_header {
  padding: 10px;
  color: #FFF;
  background-color: #4EA6CC;
}

#contents_header .buttons a {
  background:#FFF;
  color:#333;
}

#contents_header h2 {
    font-size: 20px;
    color: #333;
}



/* contents_main */
#contents_main {
  padding: 10px;
}

#contents_main h3 {
    font-size: 16px;
    color: #333;
}

/* thumb */

#image_thumb  {
  float: left;
  background-color: #EEE;
  margin: 5px;
  padding: 10px;
  border: 3px solid #CCC;
  /*-moz-border-radius-topleft: 3px;*/
  /*-moz-border-radius-topright: 3px;*/
  /*-moz-border-radius-bottomleft: 3px;*/
  /*-moz-border-radius-bottomright: 3px;*/

  height: 75px;
}

/* details */

dl { padding: 5px 0px; }
dl.left { float: left; }
dt { font-weight: bold; }
dd { padding-left: 10px; }

/* form */

table.tableTypeForm1 {
	margin:5px 0 35px;
    border-top: 3px #333 solid;
    border-collapse: collapse;
    border-spacing: 0;
}
table.tableTypeForm1 th {
    padding:10px 10px 10px 20px;
    width: 25%;
    background-color: #f0f0e0;
    border-bottom: 1px dotted #333;
    text-align: left;
    font-size:13px;
    font-weight: bold;
    white-space: nowrap;
}
table.tableTypeForm1 td {
    padding: 10px 20px;
    border-bottom: 1px dotted #333;
}

table.tableTypeForm1 td.tableTypeForm1End,table.tableTypeForm4 td.tableTypeForm1End{
  width:38%;
  padding:5px;
  background:#eee;
}


/* record */

table.record {
  width: 780px;
  border-top: 3px #1e1e1e solid;
  border-bottom: 3px #1e1e1e solid;
  margin-bottom:20px;
}

/*780*/
/*40 40 200 (280) 180 40*/

table.record tr { height: 30px; }
table.record td { padding: 5px 5px; border-bottom: 1px solid #CCC; }
table.record td.id { width: 40px; text-align:center;font-weight:bold;color:#fff;background:#4ea6cc; }
table.record td.thumb {width:40px;text-align:center;background:#efffef;cursor:pointer;}
  table.record td.thumb a img{border:2px #fff solid;cursor:pointer; }
  table.record td.thumb a:hover img{border:2px #333 solid;cursor:pointer; }
table.record td.name { width:200px; }
  table.record td.name a { color: #333; }
  table.record td.name a:hover { color: #D5B006; background-color: #78576A; }
table.record td.desc {width:230px; }
table.record td.date { width: 180px; text-align: right; }
table.record td.gadget {text-align: right; }

/* content record */

/* artist record */

/* label record */

/* download record*/
table.download td.desc {width:240px;}
/*table.download td.gadget {text-align: right; width:50px;}*/


/* list */

ul.list1 {margin: 5px 10px 0 20px;}
ul.list1 li {list-style: circle;font-size: 11px;color: #333;}
ul.list1 li span {font-size: 11px;color:#da4740;}


/* upload */

#upload_iframe {
  width: 0px;
  height: 0px;
  border: 0px;
}

#upload_form {
  padding: 5px;
}

