/*================================================*/
/* Contents */
/*================================================*/

h2 {
	/*margin:20px 0 2px 0;*/
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

h3 {
	/*margin:20px 0 2px 0;*/
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

  h3.underline{
    width:100%;
    border-bottom:3px #333 solid;
    padding:0 0 4px;
    margin:0 0 15px;
  }

  h3.connect{
    width:100%;
    padding:0 0 4px;
    margin:30px 0 10px;
  }

h4 {
    font-size: 12px;
    font-weight: bold;
    color: #643F00;
    margin:15px 0 5px;
}


h5 {
    font-size: 12px;
    font-weight: normal;
    color: #666;
    margin: 5px 0 0;
    padding: 5px 0;
}

/*----------------------------------------
	button
----------------------------------------*/

.buttonArea{margin:15px 0 20px;}

p.buttons,div.buttons{text-align:center;}

.buttons a,.buttons button{
  margin:0;
  border: none;
  background:#4ea6cc;
  color:#fff;
  line-height:130%;
  font-family:Arial, Verdana;
  font-size:14px;
  font-weight:normal;
  cursor:pointer;
  padding:10px 20px;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
}


/*----------------------------------------
  form
----------------------------------------*/
input, form select, form textarea,textarea {
    font-size:14px;
    letter-spacing: 0;
    border:2px solid #656565;
    font-family:Arial,'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','ＭＳ Ｐゴシック';
    padding:3px;
}

input:focus, form select:focus, form textarea:focus {
    border:2px solid #4ea6cc;
}

input.headersearch {
    padding:3px 4px;
    width: 230px;
}

input.inputtext {
    padding:5px 4px;
    width: 100%;
  line-height:1em;
}

input.inputtext:focus {
}

.inputarea {
  width:100%;
  height:120px;
}

.inputselect {margin:0 2px 0 0;}

div.category_add_form { margin:5px 0px 0px 70px; }

.inputedittext {
  font-size:12px;
  border-width:1px;
  width:130px;
}



/*----------------------------------------
  table
----------------------------------------*/

table.tableTypeForm1 {
	margin:5px 0 35px;
    border-top: 3px #333 solid;
    border-collapse: collapse;
    border-spacing: 0;
}
table.tableTypeForm1 th {
    padding:10px 10px 10px 20px;
    width: 25%;
    background-color: #f0f0e0;
    border-bottom: 1px dotted #333;
    text-align: left;
    font-size:13px;
    font-weight: bold;
    white-space: nowrap;
}
table.tableTypeForm1 td {
    padding: 10px 20px;
    border-bottom: 1px dotted #333;
}

table.tableTypeForm1 td.tableTypeForm1End,table.tableTypeForm4 td.tableTypeForm1End{
  width:38%;
  padding:5px;
  background:#eee;
}


table.tableTypeRecord {
    border: 1px #CCC solid;
    border-top: 3px #1e1e1e solid;
    border-bottom: 3px #1e1e1e solid;
    border-collapse: collapse;
    border-spacing: 0;
    display:block;
    margin-bottom:20px;
}

table.tableTypeRecord th, table.tableRecord thead td {
    padding:10px 10px 10px 20px;
    background-color:#f0f0e0;
    border-bottom: 1px solid #ccc;
    text-align: left;
    font-weight: normal;
    white-space: nowrap;
}

table.tableTypeRecord td {
    padding: 10px;
    border-bottom: 1px solid #CCC;
}

table.tableTypeRecord td.id {
  text-align:center;font-weight:bold;color:#fff;background:#4ea6cc;
}

table.tableTypeRecord td.thumb {width:70px;text-align:center;background:#e3e3e3;cursor:pointer;}
  table.tableTypeRecord td.thumb a img{border:2px #fff solid;cursor:pointer; }
  table.tableTypeRecord td.thumb a:hover img{border:2px #333 solid;cursor:pointer; }

table.tableTypeRecord td.desc {width:630px;}
  /*table.tableTypeRecord td.desc div.descTitle {font-size:12px;font-weight:bold;margin:0 0 5px;}*/
  /*table.tableTypeRecord td.desc div.descTitle h3{font-size:14px;margin:0 0 4px;}*/
  /*table.tableTypeRecord td.desc div.descMini,div.descMini {color:#333;font-size:12px;}*/


/*-----------------------------------
 * Others
 *----------------------------------*/

/* *の赤色 */
p.txt_ess span, p.txt_ess2 span, th span {
    margin:0 3px 0 0;
    font-size:130%;
    font-weight:bold;
    color:#da4740;
}


/*-----------------------------------
 * contents_header
 *----------------------------------*/
#contents_header {
  padding: 10px;
  color: #FFF;
  /*background-color: #2786C2;*/
  background-color: #4EA6CC;
}


/*-----------------------------------
 * contents_main
 *----------------------------------*/
#contents_main {
  padding: 10px;
}

/*#contents_main h3 {*/
  /*color: #111;*/
  /*border-left: 5px solid #CCC;*/
  /*padding: 4px 10px;*/
  /*margin: 10px 0;*/

/*}*/

/*#contents_main p {*/
  /*padding: 5px;*/
/*}*/


/* detail */
/*#contents_main #detail dl {*/
  /*padding: 5px 0px;*/
/*}*/

/*#contents_main #detail dt {*/
  /*font-weight: bold;*/
/*}*/

/*#contents_main #detail dd {*/
  /*padding-left: 10px;*/
/*}*/

/*----------------------------------------
	list
----------------------------------------*/

ul.list1 {margin: 5px 10px 0 20px;}
ul.list1 li {list-style: circle;font-size: 11px;color: #333;}
ul.list1 li span {font-size: 11px;color:#da4740;}



#upload_iframe {
  width: 0px;
  height: 0px;
  border: 0px;
}

#upload_form {
  padding: 5px;
}

/*================================================*/
/* Images */
/*================================================*/

#image_thumb  {
  float: left;
  background-color: #EEE;
  margin: 5px;
  padding: 10px;
  border: 1px solid #CCC;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;

  width: 55x;
  height: 75px;
}

/*================================================*/
/* Images */
/*================================================*/
#form[new_label] {
  width: 400px;
}

