@charset "UTF-8";

body {
  background: #111;

  font-family:
      "Lucida Grande", "Verdana",
      Meiryo,
      "Hiragino Kaku Gothic Pro W3",
      Osaka,
      sans-serif;
  font-size: 14px;

  color: #111;
}

/*================================================*/
/* Basic Elements */
/*================================================*/
h1 {
  font-size: 172.8%;
  font-family: helvetica, sans-serif;
  font-weight: bold;
}
h2 {
  font-size: 20px;
  font-family: helvetica, sans-serif;
}
h3 {
  font-size: 18px;
  font-family: helvetica, sans-serif;
}

p {
  font-size: 12px;
  font-family: helvetica, sans-serif;
}

dt, dd {
  font-size: 12px;
  font-family: helvetica, sans-serif;
}

