/* colors */


/* generic parts */
span.mark  {
  color: #333;
  background:#DDD;
  font-size: 12px;
  font-weight: bold;
  padding: 3px;
  white-space: nowrap;
}

p.name { font-size: 12px; }
p.txt_ess { float:right; line-height: 1.9em; }

/* *の赤色 */
p.txt_ess span, p.txt_ess2 span, th span {
    margin:0 3px 0 0;
    font-size:130%;
    font-weight:bold;
    color:#da4740;
}

.buttonArea{margin:15px 0 20px;}

p.buttons,div.buttons{text-align:center;}

span.btn a {
  margin:0;
  border: none;
  font-weight:normal;
  cursor:pointer;
}

span.btn a:hover {
  color: #D5B006;
  background-color: #78576A;
}

span.btn_small a {
  font-size:12px;
  padding:5px 10px;
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
}

span.btn_b_o a {
  background:#f96;
  color:#111;
}
span.btn_w_b a {
  background:#4ea6cc;
  color:#fff;
}


span.buttons a {
  margin:0;
  border: none;
  background:#4ea6cc;
  color:#fff;
  line-height:130%;
  font-size:14px;
  font-weight:normal;
  cursor:pointer;
  padding:10px 20px;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
}




/* contents_header */
#contents_header {
  padding: 10px;
  color: #FFF;
  background-color: #4EA6CC;
}

#contents_header .buttons a {
  background:#FFF;
  color:#333;
}

#contents_header h2 {
    font-size: 20px;
    color: #333;
}



/* contents_main */
#contents_main {
  padding: 10px;
}

#contents_main h3 {
    font-size: 16px;
    color: #333;
}

/* thumb */

#image_thumb  {
  float: left;
  background-color: #EEE;
  margin: 5px;
  padding: 10px;
  border: 3px solid #CCC;
  /*-moz-border-radius-topleft: 3px;*/
  /*-moz-border-radius-topright: 3px;*/
  /*-moz-border-radius-bottomleft: 3px;*/
  /*-moz-border-radius-bottomright: 3px;*/

  height: 75px;
}

/* details */

dl { padding: 5px 0px; }
dl.left { float: left; }
dt { font-weight: bold; }
dd { padding-left: 10px; }

/* form */

table.form {
  width: 780px;
  border-top: 3px #333 solid;
  margin:5px 0 35px;
}

table.form th {
    padding:5px 5px 5px 20px;
    width: 25%;
    background-color: #f0f0e0;
    border-bottom: 1px dotted #333;
    text-align: left;
    font-size:13px;
    font-weight: bold;
}

/*table.form tr { height: 38px; }*/
table.form td { padding: 2px 10px; border-bottom: 1px dotted #333; }
table.form td.field { width:40%; }
table.form td.desc { width:30%; padding:5px; background:#eee; }


/* record */

table.record {
  width: 780px;
  border-top: 3px #1e1e1e solid;
  border-bottom: 3px #1e1e1e solid;
  margin-bottom:20px;
}

/*780*/
/*40 40 200 (280) 180 40*/

table.record tr { height: 40px; }
table.record tr.inactivated { background-color: #DDD; }


table.record td { padding: 5px 5px; border-bottom: 1px solid #CCC; }
table.record td.id { width: 40px; text-align:center;font-weight:bold;color:#fff;background:#4ea6cc; }
table.record td.activated { width: 20px; text-align:center; }
/*table.record td.thumb {width:40px;text-align:center;background:#efffef;cursor:pointer;}*/
table.record td.thumb {width:30px;text-align:center;cursor:pointer;}
  table.record td.thumb a img{border:2px #fff solid;cursor:pointer; }
  table.record td.thumb a:hover img{border:2px #333 solid;cursor:pointer; }
table.record td.name { width:150px; }
  table.record td.name a { color: #333; }
  table.record td.name a:hover { color: #D5B006; background-color: #78576A; }
table.record td.desc {width:330px; }
table.record td.date { width: 150px; text-align: right; }
  table.record td.date span.mark { background-color: #9c9; }
table.record td.gadget { width: 20px; text-align: right; }

/*table.download td.desc {width:240px;}*/
/*table.download td.gadget {text-align: right; width:50px;}*/

table.order_items {
  /*margin: 0px auto;*/
  width: 600px;
}

table.order_items tr { height: 40px; }
table.order_items td { border-bottom: 1px dotted #333; }
table.order_items td.thumb { width:50px; text-align:center; background:#efffef; }
table.order_items td.name {width:200px;}
  /*table.order_items td.name div.desc_title h4 { font-size:16px; }*/
  /*table.order_items td.name div.desc_mini { font-size:12px; padding: 0 0 5px;}*/

table.order_items td.price {width:100px;font-size:14px;text-align:right;padding-right:20px;}
table.order_items td.total_price {
  font-size: 14px;
  padding: 10px 20px 10px 0;
  text-align: right;
  border: none;
}

/* list */

ul.list1 {margin: 5px 10px 0 20px;}
ul.list1 li {list-style: circle;font-size: 11px;color: #333;}
ul.list1 li span {font-size: 11px;color:#da4740;}


/* upload */

#upload_iframe {
  width: 0px;
  height: 0px;
  border: 0px;
}

#upload_form {
  padding: 5px;
}


/* lightbox related */
#remote_form {
  width: 800px;
  margin:  0px auto;
  padding: 0px auto;
  /*background-color: #FFF;*/
  /*border: 3px solid #333;*/
}

#image_selector {
  width: 800px;
  margin:  0px auto;
  padding: 0px auto;
  /*background-color: #FFF;*/
  /*border: 3px solid #333;*/
}

#selector {
  width: 600px;
  margin:  0px auto;
  padding: 0px auto;
}

#selector div.record {
  padding: 3px 0;
  border-bottom: 1px dotted #333;
}

#selector div.record a {
  /*border-bottom: 1px dotted #333;*/
  color: #111;
}
#selector div.record a:hover {
  color: #D5B006;
  background-color: #78576A;
}
