/*================================================*/
/* Wrapper*/
/*================================================*/

#wrapper {
  width: 800px;
  margin:  0px auto;
  margin-top: 40px;
  padding: 0px auto;
  background-color: #FFF;
  border: 3px solid #333;
}

/*================================================*/
/* Header*/
/*================================================*/

#header {
  background-color: #FFF;
  border: 1px solid #333;
  position: relative;

  height: 84px;
}

#logo {
  background: url("../images/3shimeji_s.jpg") no-repeat scroll left;
  background-color: #FFF;

  text-indent: -3000px;

  position: absolute;
  top: 0px;
  left: 0px;
  width: 84px;
  height: 84px;
  z-index: 5;

  /*-moz-border-radius-topleft: 3px;*/
}

#logo a {
  display: block;
  height: 84px;
  width: 84px;
}

#utility {
  position: absolute;
  top: 5px;
  right: 5px;
}

#utility li {
  float: left;
  font-size: 12px;
  padding: 0 5px;
}

#navigation {
  position: absolute;
  bottom: 0px;
  left: 85px;
}

#navigation li {
  float: left;
}

#navigation li a {
  text-decoration: none;
  text-align: center;

  color: #222;
  background-color: #FFF;

  display: block;
  width: 55px;
  margin: 2px;
  padding: 5px 16px;
  border: solid 3px #AAA;
}

#navigation li a:hover {
  text-decoration: underline;

  color: #D5B006;
  background-color: #78576A;

}

/*================================================*/
/* Debug */
/*================================================*/
#debug {
  background-color: #FFF;
  border: 1px solid #333;
  height: 40px;
  padding: 5px;
}
/*================================================*/
/* Contents*/
/*================================================*/

#contents {
  background-color: #FFF;
  border: 1px solid #333;
  position: relative;
}


/*================================================*/
/* Footer */
/*================================================*/

#footer {
  background-color: #FFF;
  height: 30px;
  padding: 10px;
  border: 1px solid #333;
}

