@charset "UTF-8";

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, blockquote, p, th, td {
  margin: 0;
  padding: 0;
  line-height: 1.4em;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
}

body {
  background: #FFFFFF repeat scroll 0 0;

  font-family:
      helvetica,
      "Lucida Grande", "Verdana",
      Meiryo,
      "Hiragino Kaku Gothic Pro W3",
      Osaka,
      sans-serif;
  color: #111;
}

/* Basic Elements */
h1,h2,h3,h4,h5,h6 {font-size: 100%;}
p { font-size: 12px; }
li { font-size: 12px; }
dt, dd { font-size: 12px; }

hr { visibility: hidden; }

ol, ul {
  list-style: none;
  list-style-image: none;
  list-style-position: outside;
}
ol { list-style-type: decimal; }


ol, ul {
  list-style: none;
  list-style-image: none;
  list-style-position: outside;
}

a, a:link, a:visited, a:hover, a:active { overflow: hidden; text-decoration: none; }

/* form */
input, select, textarea {
  letter-spacing: 0;
}

input, form select, form textarea,textarea {
    font-size:12px;
    letter-spacing: 0;
    border: 2px solid #CCC;
    padding: 3px;
}

input:focus, form select:focus, form textarea:focus {
    border:2px solid #D5B006;
}

textarea {
  padding: 0;
  font-size: 1.0em;
  line-height: 1.2em;
}

/* table */

table {
    border-collapse: collapse;
    border-spacing: 0;
    display:block;
}

table th, table thead td {
  white-space: nowrap;
}

address {font-style:normal;}

/* multipurpose class */
div.clear { clear: both; }
div.left { float: left; }
div.right { float: right; }

