
/* generic parts */
span.mark  {
  color: #333;
  background:#DDD;
  font-size: 12px;
  font-weight: bold;
  padding: 3px;
  white-space: nowrap;
}

div.btn {
  text-align: center;
}

span.btn a {
  color: #FFF;
  background:#4ea6cc;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 20px;
  white-space: nowrap;
}
span.btn a:hover { color: #D5B006; background-color: #78576A; }
span.form_btn a { }


p.head { font-size: 16px; padding: 5px 0;}
p.error { text-align: center; font-size: 14px; font-weight: bold; }
p.notice { text-align: center; font-size: 14px; font-weight: bold; }
p.head_form { font-size: 16px; padding: 20px 0 5px;}

p.order { font-size: 16px; padding: 5px 0 5px;}
p.order_notice { padding-top: 20px; font-size: 16px; text-align: center; }
div.thankyou p { font-size: 14px; padding: 3px; text-align: center; }
div.thankyou p.large { font-size: 36px; color: #888; text-align: center; padding: 0 0 10px;}


/* contents_header */
#contents_header {
  padding: 10px;
  border-bottom: 1px solid #DDD;
}

#contents_header h2 {
  font-size: 20px;
  color: #333;
}

#contents_header h3 {
  color: #333;
  font-size: 14px;
}



/* contents_main */

#contents_main {
  padding: 20px 10px;
  color: #333;
}

#contents_main h4 {
  color: #333;
  font-size: 16px;
  padding: 0 0 5px;
}

/* sub menu */
#submenu {
  text-align: right;
}

/* pagination */
div.pagination {
  overflow: hidden;
  position: relative:
  text-align: center;
}

div.pagination ul  {
  float: left;
  left: 50%;
  position: relative;
}

div.pagination ul li {
  float: left;
  font-size: 12px;
  left: -50%;
  margin-right: 8px;
  position: relative;
}

div.pagination ul li a,
div.pagination ul li span.gap
{
  background-color: #F5F5F5;
  border: 1px solid #CDCDCD;
  color: #565656;
  display: block;
  padding: 3px 7px;
  position: relative;
}

div.pagination ul li span.current {
  background-color: #1E1E1E;
  border: 1px solid #000000;
  color: #FFFFFF;
  font-weight: bold;
  display: block;
  padding: 3px 8px;
}

#record_results p {
  padding: 2px 0 5px 0;
  /*text-align: center;*/
  font-size: 14px;
}
#record_results p span.search { font-size: 16px;}

/* thumb */

#thumb {
  float: left;
  background-color: #FFF;
  margin: 5px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}


#thumb p { padding: 3px 0; }

#thumb a { color: #333; }
#thumb a:hover { color: #D5B006; background-color: #78576A; }
#thumb a img { border:2px #eee solid;cursor:pointer; }
#thumb a:hover img { border:2px #333 solid;cursor:pointer; }

#thumb.content { width: 150px; height: 185px; }
#thumb.artist, #thumb.label { width: 150px; height: 150px; }

/* details */

#details p { padding: 10px; }
#details dl { padding: 10px 0px; }
#details dt {
  padding: 0 0 5px 0;
  font-weight: bold;
  font-size: 14px;
}
#details dd { padding-left: 10px; }
#details a { color: #333; }
#details a:hover { color: #D5B006; background-color: #78576A; }
#details a img { border:2px #eee solid;cursor:pointer; }
#details a:hover img { border:2px #333 solid;cursor:pointer; }


#related_images { padding: 10px 0; }
#related_images #primary_image {width: 350px; float: left; text-align: center;}
#related_images #image_thumbs  {width: 350px; float: left; text-align: center; }
#related_images p { padding: 2px; }

#related_images div.image_thumb {
  float: left;
  background-color: #EEE;
  margin: 5px;
  border: 1px solid #CCC;
  text-align: center;
}
/* record */

table.record tr { height: 90px; }
table.record td { padding: 5px 10px; border-bottom: 1px solid #EEE; }

table.record td.thumb {width:70px;text-align:center;background:#efffef;cursor:pointer;}
  table.record td.thumb a img{border:2px #fff solid;cursor:pointer; }
  table.record td.thumb a:hover img{border:2px #333 solid;cursor:pointer; }

table.record td.desc {width:500px;}
  table.record td.desc a { color: #333; }
  table.record td.desc a:hover { color: #D5B006; background-color: #78576A; }
  table.record td.desc div.desc_title h4 { font-size:16px; }
  table.record td.desc div.desc_mini { font-size:12px; padding: 0 0 5px;}

table.record td.price {width:100px;font-size: 20px;text-align: center;}
table.record td.buy {width:100px;font-size: 14px;text-align: center;}

/* album_musics */

table.album_musics tr { height: 40px; border-bottom: 1px solid #EEE;}
table.album_musics td { padding: 3px; }

table.album_musics td.thumb {width:50px;text-align:center;background:#efffef;cursor:pointer;}
  table.album_musics td.thumb a img{border:2px #fff solid;cursor:pointer; }
  table.album_musics td.thumb a:hover img{border:2px #333 solid;cursor:pointer; }

table.album_musics td.name {width:200px;}
  table.album_musics td.name a { color: #333; }
  table.album_musics td.name a:hover { color: #D5B006; background-color: #78576A; }
  table.album_musics td.name div.name_title h4 { font-size:16px; }
  table.album_musics td.name div.name_mini { font-size:12px; padding: 0 0 5px;}

table.album_musics td.price {width:200px; text-align: right;}
table.album_musics td.info {width:200px;}

/* cart items */


table.cart_items {
  border-style: solid;
  border-width: 2px 1px;
}

table.cart_items tr { height: 90px; }
table.cart_items td { border-bottom: 1px dotted #333; }

table.cart_items td.thumb { width:100px; text-align:center; background:#efffef; }

table.cart_items td.desc {width:370px;}
  table.cart_items td.desc div.desc_title h4 { font-size:16px; }
  table.cart_items td.desc div.desc_mini { font-size:12px; padding: 0 0 5px;}

table.cart_items td.price {width:100px;font-size: 20px;text-align: center; }
table.cart_items td.delete {width:150px;font-size: 14px;text-align: center;}
table.cart_items td.empty { width:720px; font-size: 16px; text-align: center; }

table.cart_items td.total_price {
  font-size: 20px;
  padding: 10px 50px 10px 0;
  text-align: right;
  border: none;
}

/* payment_form */
table.payment_form {
  border-style: solid;
  border-width: 2px 1px;
}

table.payment_form tr { height: 60px; }
table.payment_form th {
    padding: 10px 10px 10px 30px;
    width: 25%;
    background-color: #f0f0e0;
    border-bottom: 1px dotted #333;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}
table.payment_form td { padding: 10px 20px; border-bottom: 1px dotted #333; }
table.payment_form tr.foot td, table.payment_form tr.foot th { border: none; }



/* order */
#order {
  border-style: solid;
  border-width: 2px 1px;
}

#order dl dt { font-size: 16px; font-weight: bold; }
#order dl dd { font-size: 16px; }
#order p { font-size: 16px; }


/* order_info */
table.order_info {
  margin: 0px auto;
  width: 600px;
}
table.order_info tr { height: 50px; }
table.order_info th { width: 25%; font-size: 14px; font-weight: bold; }
table.order_info td { font-size: 14px; padding-left: 50px; }

/* order_items */
table.order_items {
  margin: 0px auto;
  width: 600px;
}

table.order_items thead tr { height: 30px; }
table.order_items thead tr td { padding-top: 15px; font-size: 14px; font-weight: bold; border: none; }
table.order_items tr { height: 90px; }
table.order_items td { border-bottom: 1px dotted #333; }
table.order_items td.thumb { width:100px; text-align:center; background:#efffef; }
table.order_items td.desc {width:400px;}
  table.order_items td.desc div.desc_title h4 { font-size:16px; }
  table.order_items td.desc div.desc_mini { font-size:12px; padding: 0 0 5px;}

table.order_items td.price {width:100px;font-size:20px;text-align:right;padding-right:20px;}
table.order_items td.total_price {
  font-size: 20px;
  padding: 10px 20px 10px 0;
  text-align: right;
  border: none;
}

/* download_items */
table.download_items {
  border-style: solid;
  border-width: 2px 1px;
}

table.download_items thead tr { height: 15px; }
table.download_items thead tr td { font-size: 10px; border-bottom: 1px solid #333; }
table.download_items tr { height: 90px; }
table.download_items td { border-bottom: 1px dotted #333; }
table.download_items td.thumb { padding-left: 10px; width:70px; text-align:center; background:#efffef; }
table.download_items td.desc { padding-left: 20px; width:500px;}
  table.download_items td.desc div.desc_title h4 { font-size:16px; }
  table.download_items td.desc div.desc_mini { font-size:12px; padding: 0 0 5px;}

table.download_items td.last {width:100px;font-size: 14px;text-align: center;}
table.download_items td.down {width:150px;font-size: 14px;text-align: center;}
table.download_items td.expire {width:100px;font-size: 14px;text-align: center; border: none; }

/* contact_form */
table.contact_form {
  border-style: solid;
  border-width: 3px 1px;
}

table.contact_form tr { height: 60px; }

table.contact_form th {
    padding: 10px 10px 10px 30px;
    width: 25%;
    background-color: #f0f0e0;
    border-bottom: 1px dotted #333;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}

table.contact_form td { padding: 10px 20px; border-bottom: 1px dotted #333; }

