/* Wrapper*/

#wrapper {
  position: relative;
  width: 740px;
  margin:  0px auto;
  margin-top: 30px;
  padding: 0px auto;
  background-color: #FFF;
}

/* Header*/

#header {
  position: relative;
  height: 84px;
}

#logo {
  background: url("../images/3shimeji_s.jpg") no-repeat scroll left;
  background-color: #FFF;
  text-indent: -3000px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 80px;
  height: 82px;
  z-index: 5;
}

#logo a {
  display: block;
  height: 84px;
  width: 84px;
}

/*#utility {*/
  /*position: absolute;*/
  /*top: 5px;*/
  /*right: 5px;*/
/*}*/

/*#utility li {*/
  /*float: left;*/
  /*padding: 0 5px;*/
/*}*/

/* navigation */

#navigation {
  position: absolute;
  bottom: 20px;
  left: 100px;
}

#navigation li {
  float: left;
}

#navigation li a {
  text-align: center;
  color: #111;
  background-color: #EEE;
  display: block;
  width: 75px;
  margin-left: 10px;
  padding: 6px 20px;
}

#navigation li a:hover {
  color: #D5B006;
  background-color: #78576A;
}

/* contents*/

#contents {
  position: relative;
  padding-bottom: 50px;
}

/* footer */

#footer {
  position: absolute;
  bottom: -10px;
  width: 720px;

  padding: 5px 10px;
  border-top: 1px solid #DDD;
  color: #999;
}

#footer ul {
  display: block;
  padding: 5px 0 0 30px;
  text-align: left;
}

#footer li {
  display: inline;
  padding-right: 15px;
}

#footer ul li a { color: #999; }
#footer ul li a:hover { color: #D5B006; background-color: #78576A; }
