<table class="table_record">
<tbody>

<% @orders.each do |order| %>
  <tr>
    <td class="id"><%=h order.id %></td>
    <td class="thumb"><%#= link_to ( (icon_for order.images[0]), admin_order_path(order.id) ) if order.images[0] != nil %></td>
    <td class="desc"><%=h order.token %></td>
    <td><%= link_to 'Edit', edit_admin_order_path(order) %></td>
    <td><%= link_to 'Destroy', admin_order_path(order), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>
