<div id="contents_header">
  <h2>Admin Orders</h2>
</div>

<div id="contents_main" class="admin_contents">
<h3>Orders Index</h1>
  <div id="listing_orders">
    <%#= render :partial => 'thumbs' %>
    <%= render :partial => 'records' %>
  </div>
</div>

<div id="contents_footer">
</div>
