<div id="contents_header">
  <h2>購入手続き</h2>
  <%#= render :partial => "store/search_form" %>
  <%#= render :partial => "store/breadcrumbs" %>
</div>

<div id="contents_main" class="contents_index">

  <%= render :partial => "order_items" %>
  <%= render :partial => "order_form" %>
</div>

<div id="contents_footer">
</div>

