<%# form_for @label, :url => { :action => "update" } do |f| %>
<div id="contents_header">
  <h2>Admin Labels</h2>
</div>

<div id="contents_main">
  <%= render :partial => "form", :locals => {:url => admin_label_path(@label) , :action_name => 'update' } %>
  <%= link_to 'Back', admin_labels_path %>

</div>

<div id="contents_footer">
</div>
