<div id="contents_header">
  <h2>レーベル管理</h2>
</div>

<div id="contents_main">
  <h3>レーベル更新</h3>
  <%= render :partial => "form", :locals => {:url => admin_label_path(@label) , :action_name => 'update' } %>
</div>
