<div id="contents_header">
  <h2>Admin Labels</h2>
</div>

<div id="contents_main" class="admin_label">
<h3>Index Labels</h3>

  <%= javascript_include_tag "lightbox.js" %>
  <%= link_to_remote 'New Label', :url => new_admin_label_path, :method => 'get' %>


  <div id="listing_labels">
    <%#= render :partial => 'thumbs' %>
    <%= render :partial => 'records' %>
  </div>

<%= link_to 'New label', new_admin_label_path %>

</div>

<div id="contents_footer">
</div>

