<div id="contents_header">
  <h2 class="title">Admin Labels</h2>
  <span class="buttons">
    <%= link_to 'New label', new_admin_label_path, { :style => "font-weight: 12px; padding: 5px 10px;" } %>
  </span>
</div>

<div id="contents_main">
<h3>Index Labels</h3>

  <%#= javascript_include_tag "lightbox.js" %>
  <%#= link_to_remote 'New Label', :url => new_admin_label_path, :method => 'get' %>

  <div id="listing_labels">
    <%#= render :partial => 'thumbs' %>
    <%= render :partial => 'records' %>
  </div>

</div>

<div id="contents_footer">
</div>

