<div id="contents_header">
  <h2>レーベル管理</h2>
  <span class="buttons">
    <%#= link_to '作成', new_admin_label_path, { :style => "font-weight: 12px; padding: 5px 10px;" } %>
    <%= link_to_function '新規作成', "resource_new('labels');", { :style => "font-weight: 12px; padding: 5px 10px;" } %>
  </span>
</div>

<div id="contents_main">
<h3>レーベル一覧</h3>
  <%= render :partial => 'records' %>
</div>

<%= javascript_include_tag "lightbox.js" %>
