<div id="contents_header">
  <h2>Admin Labels</h2>
</div>

<div id="contents_main" class="admin_contents">
<h3>New Label</h3>

<%= render :partial => "form" %>


<%= link_to 'Back', admin_labels_path %>

</div>

<div id="contents_footer">
</div>
