<div id="contents_header">
  <h2>Admin Labels</h2>
</div>

<div id="contents_main">

  <%= render :partial => "form", :locals => {:url => admin_labels_path , :action_name => 'create' } %>
  <%= link_to 'Back', admin_labels_path %>

</div>

<div id="contents_footer">
</div>
