<h4>ご注文</h4>

<div id="order">
  <%= render :partial => "order_items" %>
  <%= render :partial => "order_info" %>
</div>

<p class="order">以上のご注文で間違いないでしょうか？</p>
<%#PUTメソッドで送信%>
<% form_tag payment_path do -%>
  <input name="_method" type="hidden" value="put" />
  <%= hidden_field_tag("payment_method", "free_confirm") %>
  <p class="order"><%= submit_tag "ご注文を確定する" %></p>
<% end -%>
