<table class="order_info">
  <tbody>
    <tr>
      <th>メールアドレス</th>
      <td><%=h @payment.email %></td>
    </tr>
    <tr>
      <th>お支払方法</th>
      <td><%=h @payment.payment_type %></td>
    </tr>
  </tbody>
</table>
