<table class="order_items">
  <tbody>
    <tr>
      <td>メールアドレス</td>
      <td><%=h @payment.email %></td>
    </tr>
    <tr>
      <td>お支払方法</td>
      <td><%=h @payment.payment_type %></td>
    </tr>
  </tbody>
</table>
