<div id="contents_header">
  <h2>ご注文の確認</h2>
</div>

<div id="contents_main">
  <%= render :partial => "order" %>
  <p class="order_notice">以上のご注文で間違いないでしょうか？</p>
  <%#PUTメソッドで送信%>
  <% form_tag payment_path do -%>
    <input name="_method" type="hidden" value="put" />
    <%= hidden_field_tag("payment_method", "free_confirm") %>
    <div class="form_button"><%= submit_tag "注文を確定する" %></div>
  <% end -%>
</div>
