<div id="contents_header">
  <h2>ご購入完了</h2>
</div>

<div id="contents_main">
  <div id="thankyou">
    <p>ありがとうございます。</p>
    <p>ご購入手続きが完了しました。</p>
    <p>コンテンツはメールに記載されたURLか下記リンクよりダウンロードが可能です。</p>
    <p class="down"><span class="btn download"><%= link_to "ダウンロードページ", download_url_for(@order) %></span></p>
  </div>
</div>
