<tr>
  <th><%= label %></th>
  <td class="field">
    <%= element %>
  </td>
  <td class="desc">
    <ul class="list1">
      <% descs.each do |d| -%>
        <li><span><%= d %></span></li>
      <% end -%>
    </ul>
  </td>
</tr>
