<div id="thumbs">
<% if @images.any? -%>

<% @images.each do |image| %>

<div class="image_thumb">
<ul>
  <li>
    <p>
      <%#= link_to_function (s50_for image), admin_image_path(image.id)  %>
      <%= link_to_function (s50_for image), "resource_show('images', #{image.id});" %>
    </p>
    <p class="filename">
      <%= link_to_function h(image.filename), "resource_show('images', #{image.id});" %>
    </p>
    <p>
      <%= link_to_function (image_tag "update.png", :alt => "update"), "resource_edit('images', #{image.id});" %>
      <%= link_to_remote (image_tag "delete.png", :alt => "delete"),
        :url => admin_image_path(image.id), :method => :delete %>
     </p>
  </li>
</ul>
</div>

<% end %>

<div class="clear"></div>
<% else -%>
  <p class="notice">画像は登録されていません</p>
<% end -%>
</div>
