<div id="contents_header">
  <h2>Admin Images</h2>
</div>

<div id="contents_main">
<h3>Index Images</h3>

  <%= render :partial => 'upload_button' %>

  <div id="listing_images">
    <%= render :partial => 'thumbs' %>
    <%#= render :partial => 'records' %>
  </div>

</div>

<div id="contents_footer">
</div>
