<div id="contents_header">
  <h2>Admin Users</h2>
</div>

<div id="contents_main" class="admin_contents">
<h3>Users Index</h1>

  <div id="listing_users">
    <%#= render :partial => 'thumbs' %>
    <%= render :partial => 'records' %>
  </div>

</div>

<div id="contents_footer">
</div>
