<div id="navigation">
  <ul>
    <li><%= link_to "contents", contents_path %></li>
    <li><%= link_to "artists", artists_path %></li>
    <li><%= link_to "labels", labels_path %></li>
    <li><%= link_to "cart", cart_path %></li>
  </ul>
</div>

