<div id="navigation">
  <ul>
    <li><%= link_to "コンテンツ", contents_path %></li>
    <li><%= link_to "アーティスト", artists_path %></li>
    <li><%= link_to "レーベル", labels_path %></li>
    <!--li><%#= link_to "カート", cart_path %></li-->
  </ul>
</div>
